* {
    padding:0;
    margin:0;
}

.create_game_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #34495e;
}

.create_game_wrapper a:link,
.create_game_wrapper a:active,
.create_game_wrapper a:hover {
    text-decoration: none;
}

.main_header {
    height: 50px;
    width: 100%;
    background-color: #34495e;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.main_header a {
    margin-right: 20px;
    color: #fff;
}

#game_creation {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    color:#fff;
    width: 60%;
}

#game_label {
    height: 50px;
    padding: 0 10px;
    margin-bottom: 20px;
}

#imageDisplay {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    background-color: #fff;
}

#game_description {
    width: 100%;
    height: 100px;
}

#game_genre {
    margin: 20px 0;
}

#genre_cases {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#add_offer_section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#add_offer_section button {
    margin: 10px 0;
}

#add_game {
    margin-bottom: 100px;
    height: 100px;
}

.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #2c3e50;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.offer:hover {
    transition: .2s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.offer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer_label {
    font-weight: 700;
}

.offer_url,
.default_price {
    color: #bdc3c7;
}

.default_price {
    text-decoration: line-through;
}

.current_price {
    color: #1abc9c;
    font-weight: 700;
}